
@font-face{

font-family: Tea For God;
src: url("Fonts/TeaForGod.woff") format("woff"), url("Fonts/TeaForGod.woff2") format("woff2")



}

h1 {
font-family: Tea For God;

color: #FDF5E6;





