
@font-face{

font-family: Ermilov Bold;
src: url("Fonts/ErmilovBold.woff") format("woff"), url("Fonts/ErmilovBold.woff2") format("woff2")
}


.main_link {
	color: #696969;
	text-decoration: none;
	font-family: Ermilov Bold;
	font-size: 200%; 
	text-align: left;
}

.main_link:hover {
	font-family: Ermilov Bold;
	color: #A9A9A9;
	
}

.main_link_4 {
	color: #696969;
	text-decoration: none;
	font-family: Ermilov Bold;
	font-size: 130%; 
	text-align: left;
}

.main_link_4:hover {
	font-family: Ermilov Bold;
	color: #A9A9A9;
	
}

.main_link_3 {
	color: #808080;
	text-decoration: none;
	font-family: Ermilov Bold;
	font-size: 170%; 
	text-align: left;
}
.main_link_2 {
	color: #808080;
	text-decoration: none;
	font-family: Ermilov Bold;
}


.main_link_6 {
	text-decoration: none;
	font-family: Ermilov Bold;
}

.main_link_7 {
	color: #FFDEAD;
	text-decoration: none;
	font-family: Ermilov Bold;
	font-size: 170%; 
	text-align: left;

}

.main_link_7:hover {
	font-family: Ermilov Bold;
	color: #FFEBCD;
	
}

.main_link_8 {
	color: #696969;
	text-decoration: none;
	font-family: Ermilov Bold;
	font-size: 170%; 
	text-align: left;

}

.main_link_8:hover {
	font-family: Ermilov Bold;
	color: #808080;
	
}
