*{
	margin : 0;
	padding : 0;
}

#main {
	
	width: 50% ;
	margin-left: 10% ;
	float: left;
	
	
}


#aside {
	
	width : 10% ;
	padding : 10px 2.5% ;
	float: left;
}
#mininews{
	margin-left: 80%
	margin-right: 10%
	
	
}